.right_side_bar{
    display: block;
    margin: 1rem;
    margin-left: 71.6rem;
    margin-top: -33.8rem;
    border: 2px solid black;
    border-radius: 1rem;
    width: 18rem;
    height: 31.8rem;
    background-color: rgb(73, 80, 73);
}
.from_txt{
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    color: white;
}
.to_txt{
    margin: 1rem;
    margin-top: -2.1rem;
    margin-left: 15rem;
    color: white;
}
.jfk_txt{
    margin: 1rem;
    margin-top: -0.7rem;
    margin-left: 1.5rem;
    color: white;
}
.bom_txt{
    margin: 1rem;
    margin-top: -2.8rem;
    margin-left: 13rem;
    color: white;
}
.non_stop{
    margin: 1rem;
    margin-top: -2.5rem;
    margin-left: 5.8rem;
    color: white;
}
.image_world{
    margin: 1rem;
    margin-top: -3rem;
    margin-left: 0.4rem;
    width: 17rem;  
}